.todo {
  display: flex;
  flex-direction: column;
  row-gap: core.to-rem(8);
  padding: core.to-rem(16);
  border-radius: core.to-rem(4);
  background-color: var(--background-secondary);
  outline: core.to-rem(2) solid transparent;
  transition-property: outline-color;
  transition-duration: 2000ms;

  &[data-disabled='false'] {
    cursor: initial;
  }

  &[data-disabled='true'] {
    cursor: grab;
  }
}

input.expired {
  color: var(--red);
}
