@forward 'variables';
@forward 'font';
@forward 'reset';

body {
  background-image: url('../assets/images/home-background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1240px) {
    background-size: initial;
  }
}
