@use 'core' as core;

%heading-1 {
  @include core.font(40, 28);
  font-weight: 700;
  letter-spacing: 0.0036em;
  color: var(--bold);
}

%heading-2 {
  @include core.font(24, 28);
  font-weight: 700;
  letter-spacing: 0.0036em;
  color: var(--bold);
}

%label {
  @include core.font(14, 21);
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--bold);
}

%value {
  @include core.font(14, 22);
  font-weight: 700;
  letter-spacing: -0.4px;
  color: var(--regular);
}
