.board {
  padding: core.to-rem(32, 16);
  border-radius: core.to-rem(4);
  background-color: var(--background-primary);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: core.to-rem(16);
}

.type {
  display: flex;
  align-items: center;
  gap: core.to-rem(8);
}

.trash,
.icon {
  width: core.to-rem(24);
  height: core.to-rem(24);
  object-fit: contain;
  user-select: none;
}

.title {
  @extend %heading-2;
}

.add {
  @extend %label;
  user-select: none;
}

.todos {
  display: flex;
  flex-direction: column;
  row-gap: core.to-rem(16);
}
