.boards {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(core.to-rem(320), 1fr));
  justify-content: space-between;
  column-gap: core.to-rem(40);
  scrollbar-width: none;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (((hover: hover) and (pointer: fine)) or (min-width: 1480px)) {
    &_active {
      overflow-x: initial;
    }
  }
}

.board {
  height: max-content;
  transition-property: border-color;
  transition-duration: 250ms;
  border: core.to-rem(2) solid transparent;
  border-radius: core.to-rem(4);
}

.droppable {
  border-color: var(--blue);
}
