.boards {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(core.to-rem(320), 1fr));
  justify-content: space-between;
  column-gap: core.to-rem(40);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}

.board {
  height: max-content;
  transition-property: border-color;
  transition-duration: 250ms;
  border: core.to-rem(2) solid transparent;
  border-radius: core.to-rem(4);
}

.droppable {
  border-color: var(--blue);
}
