.panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: core.to-rem(16);
}

.type {
  display: flex;
  align-items: center;
  gap: core.to-rem(8);
}

.trash,
.icon {
  @extend %icon;
}

.title {
  @extend %heading-2;
}

.trash {
  fill: white;
  fill-opacity: 0.8;
  transition-property: fill, fill-opacity;
  transition-duration: 250ms;

  @include core.effect {
    fill: var(--blue);
    fill-opacity: 1;
  }
}

.add {
  @extend %label;
  transition-property: color;
  transition-duration: 250ms;
  user-select: none;

  @include core.effect {
    color: var(--blue);
  }
}

.droppable svg {
  fill: var(--blue);
  fill-opacity: 1;
}
